<?xml version="1.0"?>
<launch>

<!-- Get data from phidget imu -->
  <node pkg="phidgets_imu" type="phidgets_imu_node" name="phidgets_imu_node" 
    output="screen">

    # supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
    <param name="period" value="4"/>

    # compass correction params (see http://www.phidgets.com/docs/1044_User_Guide)
    <!-- <param name="cc_mag_field" value="0.52859"/>
         <param name="cc_offset0" value="0.03921"/>
         <param name="cc_offset1" value="0.19441"/>
         <param name="cc_offset2" value="-0.03493"/>
         <param name="cc_gain0" value="1.81704"/>
         <param name="cc_gain1" value="1.81028"/>
         <param name="cc_gain2" value="2.04819"/>
         <param name="cc_t0" value="0.00142"/>
         <param name="cc_t1" value="-0.03591"/>
         <param name="cc_t2" value="0.00160 "/>
         <param name="cc_t3" value="-0.05038"/>
         <param name="cc_t4" value="-0.03942"/>
         <param name="cc_t5" value="-0.05673"/> -->
  </node>

<!-- Imu filter -->
  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="true"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
  </node>

<!-- Node to read data from reach via serial -->
  <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="reach_nmea_driver" respawn="false">
    <param name="port" value="/dev/ttyACM1"/>
    <param name="baud" value="115200"/>
    <param name="frame_id" value="reach_link"/>

    <!-- published remap -->
    <remap from="/fix" to="/reach/fix"/>
    <remap from="/vel" to="/reach/vel"/>
    <remap from="/time_reference" to="/reach/time_reference"/>
  </node>

<!-- navsat transform reach gps data -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_reach" 
  respawn="true" clear_params="true">
    <rosparam file="$(find sensor_fusion)/config/reach/navsat_transform.yaml" command="load" />

    <!-- subscribed remap -->
    <remap from="/gps/fix" to="/reach/fix"/>
    <remap from="/odometry/filtered" to="/odometry/filtered/reach"/>

    <!-- published remap -->
    <remap from="/odometry/gps" to="/odometry/reach"/>
    <remap from="/gps/filtered" to="/gps/filtered/reach"/>    
  </node>

<!-- Fused from Reach GPS -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_reach" clear_params="true">
    <rosparam file="$(find sensor_fusion)/config/reach/ekf_localization.yaml" command="load" />

    <!-- published remap -->
    <remap from="/odometry/filtered" to="/odometry/filtered/reach"/>
  </node>

</launch>
