<?xml version="1.0"?>
<launch>
    <arg name="turning_pid" valuse="false"/>

	<node pkg="rosserial_python" type="serial_node.py" name="rosserial">
		<param name="port" value="/dev/ttyACM0"/>
		<param name="baud" value="57600"/>
	</node>

	<node pkg="pid" type="controller" name="velocity_pid" ns="velocity">
        <!-- Subscriber -->
        <remap from="state" to="/driver/encoder_velocity"/>

        <!-- Publisher -->
        <remap from="control_effort" to="/driver/linear_drive_actuator"/>

        <param name="upper_limit" value="48" />
        <param name="lower_limit" value="-25" />
    </node>

    <node if="$(arg turning_pid)" pkg="pid" type="controller" name="turning_pid" ns="turning">
        <!-- Subscriber -->
        <remap from="state" to="/driver/pivot"/>

        <!-- Publisher -->
        <remap from="control_effort" to="/driver/articulation_relay"/>

        <param name="upper_limit" value="2"/>
        <param name="lower_limit" value="0"/>
    </node>
</launch>
