<?xml version="1.0"?>
<launch>
	<node pkg="rosserial_python" type="serial_node.py" name="rosserial">
		<param name="port" value="/dev/ttyACM0"/>
		<param name="baud" value="57600"/>
	</node>

	<node pkg="pid" type="controller" name="velocity_pid">
        <!-- Subscriber -->
        <remap from="/state" to="/driver/encoder_velocity"/>

        <!-- Publisher -->
        <remap from="/control_effort" to="/driver/linear_drive_actuator"/>
        <remap from="/setpoint" to="/velocity_pid/setpoint"/>
        <remap from="/pid_enable" to="/velocity_pid/pid_enable"/>

        <param name="upper_limit" value="138" />
        <param name="lower_limit" value="65" />
    </node>

    <node pkg="pid" type="controller" name="turning_pid">
        <!-- Subscriber -->
        <remap from="/state" to="/driver/pivot"/>

        <!-- Publisher -->
        <remap from="/control_effort" to="/driver/articulation_relay"/>
        <remap from="/setpoint" to="/turning_pid/setpoint"/>
        <remap from="/pid_enable" to="/turning_pid/pid_enable"/>

        <param name="upper_limit" value="2"/>
        <param name="lower_limit" value="0"/>
    </node>
</launch>
